.add-product-container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 700px) {
      flex-direction: column;

      h1 {
        width: 100%;
        margin-bottom: 20px;
      }

      .add-buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }

  input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ece5dd;

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
  label {
    display: table-cell;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  #productType {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #ece5dd;
    border-radius: 4px;
    box-sizing: border-box;

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  .red {
    color: red;

    &:before {
      content: "*";
      color: red;
      font-size: small;
      margin-right: 5px;
    }
  }
}
