.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  hr {
    margin-top: 100px;
  }
}
.products-container {
  width: 100%;
  .product-container {
    font-size: xx-small;
    text-align: center;
    float: left;
    width: 25%;
    padding: 0 10px 10px 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    max-height: 150px;

    .product {
      box-shadow: 0 10px 8px 0 rgba(185, 39, 39, 0.2);
      border: 1px solid black;
      border-radius: 10px;
      background-color: #f3f1ec;
      height: 130px;
      width: 100%;
      padding: 3px;

      .delete-checkbox {
        margin-right: 250px;
        width: 23px;
        height: 50px;
      }
    }
  }
}
